*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
p, a, li{
    font-size: 1.1rem;
}
body {
    background-color: rgb(235, 235, 235);
}
input, label{
    cursor: pointer;
}